* {
	box-sizing: border-box;
}

body {
	background: url('../images/rope.png') #232323 repeat-y center;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.4);
	overflow-x: visible;
}

h2 {
	text-align: center;
	font-size: 25px;
	padding: 10px 0;
	border-bottom: 2px solid #232323;
	border-top: 2px solid #232323;
	background-color: rgba(255,255,255,0.6);
}

header>menu {
	background-color: #fff;
	position: fixed;
	width: 100%;
	max-width: 1000px;
	box-shadow: 0 2px 10px #232323;
	z-index: 5;
}

header>menu>nav>ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

header>menu>nav>ul>li>a {
	display: block;
	padding: 20px;
	transition: all 0.5s;
}

header>menu>nav>ul>li>a:hover, header>menu>nav>ul>li>a.current:hover {
	background-color: #B0D4EF;
}

header>menu>nav>ul>li>a.current {
	background-color: #CAF9FF;
}

main>section {
	min-height: 100vh;
	padding: 56px 0 10px;
	background: url('../images/attach.png') transparent no-repeat center 106px;
}

main>section>div {
	padding: 20px;
	margin: 60px 5% 0;
	background: rgba(255,255,255,0.8);
}

#home>div>p {
	text-align: justify;
	line-height: 1.5;
	background: #FFF;
	padding: 5px;
	transition: all 0.5s;
	cursor: default;
}

#home>div>p:nth-child(n+2) {
	margin-top: 40px;
}

#home>div>p:hover {
	box-shadow: 0 0 20px #232323;
}

#home>div>p>a, #home>div>p>em {
	color: #0082BE;
	cursor: pointer;
}

#home>div>p>span {
	border: 1px dashed #000;
	padding: 0 5px;
	transition: all 0.5s;
	cursor: help;
}

#home>div>p:hover >span {
	background-color: #ffa;
}

#home .fixed {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -50px;
	margin-top: 5px;
	width: 0;
}

#home #arrows {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 1100px;
	color: #ffa;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}

#home>div>p:hover + .fixed>#arrows {
	visibility: visible;
	opacity: 1;
}

#realisations>div {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}

#realisations>div>a {
	width: 45%;
	margin-bottom: 10px;
	text-align: center;
	background-color: #fff;
	transition: all 1s;
}

#realisations>div div {
	overflow: hidden;
	background: #000;
	font-size: 0;
}

#realisations>div>a:hover img {
	transform: rotate(10deg) scale(1.2);
	opacity: 0.6;
}

#realisations>div>a:hover {
	box-shadow: 0 0 20px #232323;
}

#realisations>div>a:hover h3 {
	color: #6F7DFF;
}

#realisations>div>a:nth-child(n+3) {
	margin-top: 10px;
}

#realisations>div>a:nth-last-child(-n+2) {
	margin-bottom: 0;
}

#realisations>div img {
	width: 100%;
	min-height: 200px;
	transition: all 1s;
	z-index: -1;
}

#realisations>div h3 {
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	transition: all 1s;
}

#realisations>div p {
	padding: 10px;
	text-align: left;
}

#projets>div {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#projets>div>figure {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
	background-color: #fff;
	transition: all 1s;
}

#projets>div div {
	overflow: hidden;
	background: #000;
	display: flex;
	justify-content: space-between;
}

#projets>div>figure:hover {
	box-shadow: 0 0 20px #232323;
}

#projets>div>figure:hover h3 {
	color: #6F7DFF;
}

#projets>div>figure:nth-child(n+2) {
	margin-top: 10px;
}

#projets>div>figure:nth-last-child(-n) {
	margin-bottom: 0;
}

#projets>div>figure a {
	width: 50%;
	font-size: 0;
}

#projets>div>figure a:hover figcaption>p {
	background-color: #B0D4EF;
}

#projets>div img {
	width: 100%;
}

#projets>div>figure a:first-child {
	margin-right: 2px;
}

#projets>div h3 {
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	transition: all 1s;
}

#projets>div p {
	padding: 10px;
	text-align: center;
	transition: all 0.5s;
}

#projets figcaption {
	background-color: #fff;
	font-size: initial;
}

#projets figcaption:last-child {
	margin-left: -2px;
}

#competences>div>div div {
	display: inline-block;
	vertical-align: middle;
}

#competences>div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#competences>div>div {
	width: 320px;
	cursor: help;
	margin: 20px 0;
}

#competences>div>div>span>i {
	transition: all 0.5s;
}

#competences>div>div .desc {
	opacity: 0;
	visibility: hidden;
	background: #232323;
	padding: 10px;
	vertical-align: middle;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	transition: all 1s 0.2s;
}

#competences>div>div:hover .desc {
	opacity: 1;
	visibility: visible;
}

#competences>div>div:hover .fa-css3 {
	color: #3060a2;
}

#competences>div>div:hover .fa-html5 {
	color: #e34c26;
}

#competences>div>div:hover .fa-code {
	color: #ffb666;
}

#competences>div>div:hover .fa-server {
	color: #66b6ff;
}

#competences>div>div:hover .fa-database {
	color: #db903a;
}

#competences>div>div:hover .fa-git {
	color: #e45632;
}

#competences>div>div:hover .stars>i {
	opacity: 1;
}

.stars>i {
	opacity: 0.4;
	transition: all 0.5s;
}

.s-1x>i:nth-child(-n+1) {
	color: #E0BC2C;
}

.s-2x>i:nth-child(-n+2) {
	color: #E0BC2C;
}

.s-3x>i:nth-child(-n+3) {
	color: #E0BC2C;
}

.s-4x>i:nth-child(-n+4) {
	color: #E0BC2C;
}

.s-5x>i:nth-child(-n+5) {
	color: #E0BC2C;
}

#contact form {
	padding: 10px;
}

#contact form label {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 10px 0;
}

#contact .error {
	background-color: #FFD8D8;
}

#contact form label input {
	width: 30%;
	padding: 5px;
	border: none;
	transition: all 0.5s;
}

#contact form label:hover >input, #contact form label:hover >textarea {
	box-shadow: 0 0 0 1px #232323;
}

#contact form label input:focus, #contact form label textarea:focus {
	box-shadow: 0 0 0 1px #232323,
	0 0 15px #232323;
}

#contact form label textarea {
	resize: none;
	width: 100%;
	padding: 5px;
	border: none;
	transition: all 0.5s;
	margin-top: 10px;
}

#contact form input[type="submit"] {
	margin-top: 10px;
	border: none;
	padding: 5px;
	transition: all 0.5s;
	width: 100%;
}

#contact form input[type="submit"]:hover {
	background: #B0D4EF;
	box-shadow: 0 0 0 1px #232323;
}