* {
	box-sizing: border-box;
}

html {
	cursor: progress;
}

body {
	font-family: sans-serif;
	background-color: #232323;
}

main {
	max-width: 1000px;
	margin: 50px auto 0;
	padding: 20px;
	text-align: center;
	background-color: rgba(255,255,255,0.4);
}

main>div {
	border: 1px solid transparent;
	padding: 5px;
	background-color: rgba(255,255,255,0.8);
}

main>div:first-child {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	padding: 30px;
}

main>div:last-child {
	height: 50px;
	padding: 0;
}

main>div:first-child>img {
	position: absolute;
	left: -10%;
	top: 5px;
	animation: 10s linear walk infinite;
}

main>div:last-child>p {
	display: block;
	margin-top: 25px;
	transform: translateY(-50%);
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}

main>div>p.hidden {
	display: none;
}

main>div>p.shown {
	opacity: 1;
	visibility: visible;
}

@keyframes walk {
	0% { left: -10%; }
	75% { left: 105%; }
	100% { left: 105%; }
}