<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/global.css">
	<title>Thomas Goalec</title>
	<script src="js/jquery-1.12.1.js"></script>
</head>
<body>
	<div class="wrapper">
		<header>
				<menu>
					<nav id="nav-wrap">
						<ul>
							<li><a href="#home" class="current"><i class="fa fa-home fa-fw"></i> <span>A</span>ccueil</a></li>
							<li><a href="#realisations"><i class="fa fa-check-square-o fa-fw"></i> <span>R</span>éalisations</a></li>
							<li><a href="#competences"><i class="fa fa-wrench fa-fw"></i> <span>C</span>ompétences</a></li>
							<li><a href="#projets"><i class="fa fa-code fa-fw"></i> <span>P</span>rojets</a></li>
							<li><a href="#contact"><i class="fa fa-envelope-o fa-fw"></i> <span>C</span>ontact</a></li>
						</ul>
					</nav>
				</menu>
		</header>
		<main>
			<section id="home">
				<h2><i class="fa fa-home fa-fw"></i> Thomas Goalec</h2>
				<div>
					<p>Salutations, moi c'est Thomas alias <a href="http://steamcommunity.com/profiles/76561197993502111/" target="_blank" title="Profil Steam">Spectrum</a>, j'ai 22 ans et j'habite dans les Yvelines (78). je suis l'un des deux fondateurs de <a href="http://bananaservers.fr" target="_blank" title="bananaservers.fr">BananaServers</a> et je suis développeur Web axé PHP principalement.</p>
					<p>Après 5 années de développement en auto-didacte, à bidouiller des codes encore et encore j'ai décidé de faire une formation de développeur Web.</p>
					<p>Je m'intéresse à tout ce qui peut être en rapport au web, autant niveau software qu'au niveau hardware. Je possède d'ailleurs mon propre serveur que j'ai entièrement configuré pour répondre à mes besoins.</p>
					<p>A la base, j'étais parti dans l'électrotechnique parce que c'était proche du web, sans vraiment le toucher et franchement, programmer des automates reliés à de grosses machineries, c'est le pied !</p>
					<p>Mais très vite, je me suis intéressé aux serveurs de jeux, mais qui dit serveur de jeu, dit site associé. Du coup je me suis lancé dans l'univers du web.</p>
					<p>M'enfin, ma vie en détail ne vous interesse pas énormément, le but de cette page est de vous montrer de quoi je suis capable, non?</p>
					<p>C'est parti pour la visite ! <span title="Regardez en haut">Vous pouvez cliquer en haut de la page</span> pour changer de section, ou juste défiler avec votre souris. Sachez que cette page se voit mieux sur PC que sur télephone.</p>
					<div class="fixed"><div id="arrows"><i class="fa fa-arrow-circle-right fa-3x"></i><i class="fa fa-arrow-circle-left fa-3x"></i></div></div>
					<!-- <p>Ah j'oubliais, vous aimez la musique? Si oui, vous pouvez activer une musique en <em title="/dance">cliquant ici</em> ! Bonne visite sur mon CV.</p> -->
				</div>
			</section>
			<section id="realisations">
				<h2><i class="fa fa-check-square-o fa-fw"></i> Réalisations</h2>
				<div>
					<a href="http://bananacraft.myriapulse.com/spectrum/wonder">
						<figure>
							<h3>Thème Wonder</h3>
							<div>
								<img src="images/wonder.png" alt="wonder" title="Thème Wonder">
							</div>
							<figcaption>
								<p>Reproduction d'un thème (front-end uniquement)</p>
							</figcaption>
						</figure>
					</a>
					<a href="http://bananacraft.myriapulse.com/spectrum/typo">
						<figure>
							<h3>Typographie</h3>
							<div>
								<img src="images/typo.png" alt="typographie" title="Typographie">
							</div>
							<figcaption>
								<p>Reproduction, selon maquette, d'une typographie complète.</p>
							</figcaption>
						</figure>
					</a>
					<a href="http://bananacraft.myriapulse.com">
						<figure>
							<h3>BananaCraft</h3>
							<div>
								<img src="images/bananacraft.png" alt="bananacraft" title="BananaCraft">
							</div>
							<figcaption>
								<p>Portail de BananaCraft.</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</section>
			<section id="competences">
				<h2><i class="fa fa-wrench fa-fw"></i> Compétences</h2>
				<div>
					<div>
						<span class="fa-stack fa-lg">
  						<i class="fa fa-square fa-stack-2x"></i>
							<i class="fa fa-css3 fa-stack-1x fa-inverse"></i>
						</span> <div class="stars s-4x"><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i></div> <span class="desc">CSS3</span>
					</div>
					<div>
						<span class="fa-stack fa-lg">
  						<i class="fa fa-square fa-stack-2x"></i>
							<i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
						</span> <div class="stars s-4x"><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i></div> <span class="desc">HTML5</span>
					</div>
					<div>
						<span class="fa-stack fa-lg">
  						<i class="fa fa-square fa-stack-2x"></i>
							<i class="fa fa-code fa-stack-1x fa-inverse"></i>
						</span> <div class="stars s-3x"><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i></div> <span class="desc">JavaScript</span>
					</div>
					<div>
						<span class="fa-stack fa-lg">
  						<i class="fa fa-square fa-stack-2x"></i>
							<i class="fa fa-server fa-stack-1x fa-inverse"></i>
						</span> <div class="stars s-4x"><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i></div> <span class="desc">PHP</span>
					</div>
					<div>
						<span class="fa-stack fa-lg">
  						<i class="fa fa-square fa-stack-2x"></i>
							<i class="fa fa-database fa-stack-1x fa-inverse"></i>
						</span> <div class="stars s-4x"><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i></div> <span class="desc">MySQL</span>
					</div>
					<div>
						<span class="fa-stack fa-lg">
  						<i class="fa fa-square fa-stack-2x"></i>
							<i class="fa fa-git fa-stack-1x fa-inverse"></i>
						</span> <div class="stars s-3x"><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i></div> <span class="desc">git</span>
					</div>
					<div>
						<span class="fa-stack fa-lg">
  						<i class="fa fa-square fa-stack-2x"></i>
  						<i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
						</span> <div class="stars s-3x"><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i></div> <span class="desc">Bash</span>
					</div>
				</div>
			</section>
			<section id="projets">
				<h2><i class="fa fa-code fa-fw"></i> Projets</h2>
				<div>
						<figure>
							<h3>Projet Unicorn (CMS)</h3>
							<div>
								<a href="http://bananacraft.myriapulse.com/spectrum/unicorn">
									<img src="images/rendu-unicorn.png" alt="rendu-unicorn" title="Rendu - Unicorn">
									<figcaption>
										<p>Rendu (page d'accueil)</p>
									</figcaption>
								</a>
								<a href="https://bitbucket.org/bananaservers/unicorn">
									<img src="images/code-unicorn.png" alt="code-unicorn" title="Code - Unicorn">
									<figcaption>
										<p>Code (class user)</p>
									</figcaption>
								</a>
							</div>
						</figure>
				</div>
			</section>
			<section id="contact">
				<h2><i class="fa fa-envelope-o fa-fw"></i> Contact</h2>
				<div>
					<form action="send.php" method="post">
						<label>Votre nom : <input type="text" name="nom" placeholder="Nom" autocomplete="family-name" value="<?=$fields["nom"];?>" required class="<?=$errorDisplay[$error["nom"]];?>"></label>
						<label>Votre prénom : <input type="text" name="prenom" placeholder="Prénom" autocomplete="given-name" value="<?=$fields["prenom"];?>" required class="<?=$errorDisplay[$error["prenom"]];?>"></label>
						<label>Votre E-mail : <input type="email" name="mail" placeholder="E-mail" autocomplete="email" value="<?=$fields["mail"];?>" required class="<?=$errorDisplay[$error["mail"]];?>"></label>
						<label>Votre numéro de téléphone : <input type="tel" name="tel" placeholder="Telephone" autocomplete="tel" value="<?=$fields["tel"];?>" required class="<?=$errorDisplay[$error["tel"]];?>"></label>
						<label><?=$display;?> : <input type="text" name="captcha" placeholder="e.g: 12" autocomplete="off" required class="<?=$errorDisplay[$error["captcha"]];?>"></label>
						<label>Votre message : <textarea name="message" cols="30" rows="10" placeholder="Votre message ici" required class="<?=$errorDisplay[$error["message"]];?>"><?=$fields["message"];?></textarea></label>
						<input type="submit" value="Envoyer">
					</form>
				</div>
			</section>
		</main>
		<footer>
		</footer>
	</div>
	<script src="js/main.js"></script>
</body>
</html>