<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/sended.css">
	<title>Mail envoyé !</title>
</head>
<body>
	<main>
		<div>
			<img src="images/loading.png" alt="Loading..." draggable=false>
		</div>
		<div>
			<p class="hidden">Rainbow Dash vérifie le mail.</p>
			<p class="hidden">Votre mail à bien été envoyé.</p>
			<p class="hidden">D'ailleurs, une copie vous a été envoyée aussi.</p>
			<p class="hidden">Ne vous en faites pas, notre poney avance vite.</p>
			<p class="hidden">Merci d'avoir utilisé Pony-Mail.</p>
			<p class="hidden">Ah, au fait, vous serez redirigé dans <span id="countdown">10</span> secondes.</p>
		</div>
	</main>
	<script src="js/sended.js"></script>
</body>
</html>